<div id="console">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ng-include src="'components/dropboxsitelist/dropboxsitelist.html'" ng-controller="DropboxSiteListController as viewModel"></ng-include>
        <ng-include src="'components/createdropboxsiteform/createdropboxsiteform.html'" ng-controller="CreateDropboxSiteFormController as viewModel"></ng-include>
       </div>
      <div class="col-md-4 right-side-bar">
        <div class="panel panel-default">
          <div class="panel-heading">Coming soon</div>
          <div class="panel-body">
            <p><strong>We're hard at work on the following...</strong></p>
            <ul>
              <li>HTML5/CSS3 site templates.</li>
              <li>Plugins for interactive functionality (forms, e-commerce, comments, feedback etc.)</li>
              <li>Visitor metrics</li>
            </ul>
          </div>
        </div>
        <div class="text-center" style="margin-bottom:10px">
            <div class="fb-share-button" data-href="http://www.knownly.net" data-layout="button" style="margin-right:10px"></div><a href="https://twitter.com/Knownly_net" class="twitter-follow-button" data-show-count="false">Follow @Knownly_net</a>
        </div>
      </div>
    </div>
  </div>
</div>
