<div id="console">
  <div class="container">
    <h1>My websites</h1>
    <div class="row">
      <div class="col-md-8">
        <ng-include src="'components/dropboxsitelist/dropboxsitelist.html'" ng-controller="DropboxSiteListController as viewModel"></ng-include>  
        <div id="create_website">
            <h3>Create a website</h3>
            <p>To create a website simply type a domain name into the form below. Choose either: </p>
            <ul>
              <li>a Knownly sub-domain (e.g. mysite.knownly.net)</li>
              <li>a personal domain that you own (e.g. launchsteps.com)</li>
            </ul>
            <div class="row">
            <div class="col-md-4"></div>
          </div>
          </div>
            <p>Knownly sub-domains work immediately. Personal domains need some additional <a href="{% url 'support' %}#custom-domain-dns">DNS setup</a>.</p>
          </div>
          <div id="status-bar"></div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div> <!-- /container -->
</div>
