<div class="panel panel-default">
    <div class="panel-heading">Vouchers</div>
    <div class="panel-body">
      <p>Knownly is proud to support students, teachers, open source projects and other non-profits with free upgrades.</p>
      <p>We love seeing creativity and people making ideas known!</p>
      <p>If you fall into one of the above categories, just <a href="mailto:info@knownly.net">send us an email</a> with a quick outline of your situation. We'll respond with a voucher code to claim below.</p>
      <p></p>
        <form class="form-inline" name="viewModel.voucherRedemptionForm" novalidate>
          <div class="form-group">
              <div class="input-group">
                  <input id="voucherToRedeem" type="text" name="voucherToRedeemField" class="form-control" ng-model="viewModel.voucherToRedeem" placeholder="Voucher code" ng-disabled="saving">
              </div>
              <input type="submit" class="btn btn-default" ng-click="viewModel.submitVoucherRedemption()" value="Claim it">
          </div>
        </form>
        <div class="form-error" role="alert">
          <div ng-show="viewModel.voucherRedemptionForm.voucherToRedeemField.$errors" class="text-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{ viewModel.voucherRedemptionForm.voucherToRedeemField.$errors }}
          </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-show="!!viewModel.vouchersRedeemed.length">
    <div class="panel-heading">Your vouchers</div>
    <div class="panel-body">
        <table class="table">
          <thead>
            <th>Voucher Code</th>
            <th>Redeemed At</th>
            <th>Campaign</th>
          </thead>
          <tbody>
            <tr ng-repeat="redemption in viewModel.vouchersRedeemed">
              <td>{{ redemption.voucher.voucher_code }}</td>
              <td>{{ redemption.redeemed_at|date }}</td>
              <td>{{ redemption.voucher.campaign.name }}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
