$knownly-heading-font-family: "Open Sans", "Montserrat", "Helvetica Neue" , Helvetica, Arial, sans-serif;
$knownly-paragraph-font-family: "Open Sans", "Montserrat", "Helvetica Neue" , Helvetica, Arial, sans-serif;

$knownly-orange: #f06821;
$knownly-blue: #27A9E1;

$grayscale-primary: #27A9E1 !default;
$grayscale-primary-border: #278AE1 !default;

$grayscale-primary-dark: #2752E1 !default;
$grayscale-primary-dark-border: #133EE1 !default;

$grayscale-dark: #030303 !default;
$grayscale-medium: #333 !default;
$grayscale-light: #F4F4F4 !default;
$grayscale-lightest: #FDFDFD !default;

$grayscale-body-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$grayscale-headline-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  font-family: $grayscale-body-font-family;
  color: $grayscale-dark;
  background-color: $grayscale-light;
  -webkit-tap-highlight-color: transparentize($grayscale-lightest, 0.8);
  overflow-y: scroll;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 35px;
  font-family: $grayscale-headline-font-family;
  font-weight: 700;
  letter-spacing: 1px;
  color: $grayscale-lightest;
}

p {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.5;
  color: $grayscale-lightest;
}

.text-primary {
	color: $grayscale-primary;
}

.btn {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-primary {
  color: $grayscale-lightest;
  background-color: $grayscale-primary;
  border-color: $grayscale-primary-border;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
	.btn-primary:active, .btn-primary.active,
	.open>.btn-primary.dropdown-toggle {

  color: $grayscale-lightest;
  background-color: $grayscale-primary-dark;
  border-color: $grayscale-primary-dark-border;
}

.twitter-follow-button {
  vertical-align:bottom;
}

.badge {
  background-color: $grayscale-lightest;
}

footer {
  margin-top: 50px;

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    p {
      margin: 0;
    }
  }
}

@media(min-width:$screen-sm-min) {
  body {
    background-image: url("/static/img/patterns/cubes.png");
    color: $grayscale-dark;
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    color: $grayscale-dark;
  }

  p {
    color: $grayscale-dark;
  }

  .lead {
    color: $grayscale-light; 
  }
}
