::-moz-selection, ::selection  {
  text-shadow: none;
  background: #fcfcfc;
  background: transparentize($grayscale-lightest, 0.8);
}

img {
  &::selection {
    background: transparent;
  }
  
  &::-moz-selection {
    background: transparent;
  }
}

.img-about {
  margin-top: 20px;
  margin-bottom: 20px;
}

#console {
  padding: 80px 0px;
}

/* Console elements */

#create_website_form {
    margin-bottom: 15px;
}

.create-website-alert {
    padding-top: 9px;
    padding-bottom: 9px;
}

ul.list-group {
  li.list-group-item {
    background-color: $grayscale-lightest;
    color: $grayscale-dark;
  }
}
