<div id="account">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Account</h1>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">My account</div>
                    <div class="list-group">
                        <a class="list-group-item" href="javascript:void(0)" ui-sref="account.profile" ui-sref-active="active">Profile</a>
                        <a class="list-group-item" href="javascript:void(0)" ui-sref="account.plansandbilling" ui-sref-active="active">Plans and billing</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9" ui-view="account-section"></div>
        </div>
    </div>
  </div>
</div>
