{% extends 'base.html' %}
{% load static %}
{% load settings_value %}

{% block title %}Knownly{% endblock %}

{% block css_head %}
  <link href="{% static 'css/simple.css' %}" rel="stylesheet">
{% endblock %}

{% block body_attrs %}id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"{% endblock %}

{% block content %}
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand page-scroll" href="/">
        <span class="light"><img src="{% static 'img/logo_small.png' %}" height="22px"> Knownly</span>
      </a>
    </div>
  </div>
  <!-- /.container -->
</nav>

<div class="container content">

  <div class="row">
    <div class="col-md-9 col-md-offset-3">
      <div class="col-md-3">1. Authorize Knownly</div>
      <div class="col-md-3">2. Choose Your Plan</div>
      <div class="col-md-3">3. Create Your Website</div>
    </div>
  <div class="row">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="begin-auth" class="col-md-9 col-md-offset-3" style="display: none">
      <button id="btn-auth" class="btn btn-primary">Click here to authorise Knownly.</button>
    </div>

    <div id="plan-chooser" class="col-md-9 col-lg-offset-3" style="display: none">
      <h1>Choose your plan</h1>
      <form id="paid-form" action="{% url 'choose-plan' %}" accept-charset="UTF-8" class="require-validation" method="POST" data-stripe-publishable-key="{% settings_value 'STRIPE_PUBLISHABLE_KEY' %}">
        {% csrf_token %}
        <div class="col-md-5">
          <div class="table-responsive">
            <table id="plans" class="table text-left btn-group" data-toggle="buttons">
              <thead>
                <th>Level</th>
                <th>Price</th>
                <th>Custom Domains</th>
                <th></th>
              </thead>
              <tbody>
                <tr>
                  <td>Premium</td>
                  <td><span id="premium-plan-price">$14.99 per month</span></td>
                  <td>100</td>
                  <th>
                    <label class="btn btn-primary plan-type">
                      <input type="radio" name="knownly_plan" value="premium" autocomplete="off"><span class="input-label">Choose</span></label>
                  </th>
                </tr>
                <tr>
                  <td>Lite</td>
                  <td><span id="lite-plan-price">$4.99 per month</span></td>
                  <td>3</td>
                  <th>
                    <label class="btn btn-primary plan-type">
                      <input type="radio" name="knownly_plan" value="lite" autocomplete="off"><span class="input-label">Choose</span></label>
                  </th>
                </tr>
                <tr>
                  <td>Free</td>
                  <td><span id="free-plan-price">$0.00 per month</span></td>
                  <td>0</td>
                  <th>
                    <label class="btn btn-primary plan-type active">
                      <input type="radio" name="knownly_plan" value="free" checked><span class="input-label">Chosen</span></label>
                  </th>
                </tr>
              </tbody>
            </table>
            <div class="btn-group btn-xs" data-toggle="buttons">
                <label class="btn btn-primary  btn-primary btn-xs currency active">
                    <input type="radio" name="currency" value="usd" checked>US$</label>
                <label class="btn btn-primary btn-primary btn-xs currency">
                    <input type="radio" name="currency" value="eur">€ </label>
            </div>

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary btn-xs period active">
                    <input type="radio" name="period" id="period" value="monthly" checked>Monthly</label>
                <label class="btn btn-primary btn-xs period">
                    <input type="radio" name="period" id="period" value="yearly">Yearly</label>
            </div>
            <p class="small">All paid plans include a 14 day free trial. You can cancel or upgrade at any time.</p>
          </div>
          <div id="payment-details" style="display: none">
            <h2>Billing Details</h2>
            <span class="payment-errors"></span>
            <div class="form-row">
              <div class="col-xs-12 form-group card required">
                <label class="control-label" for="id_card_number">Card Number</label>
                <input id="id_card_number" autocomplete="off" class="form-control card-number" size="20" type="text">
              </div>
            </div>
            <div class="form-row">
              <div class="col-xs-4 form-group expiration required">
                <label class="control-label" for="id_expiry_month">Expiration</label>
                <input id="id_expiry_month" class="form-control card-expiry-month" placeholder="MM" size="2" type="text">
              </div>
              <div class="col-xs-4 form-group expiration required">
                <label class="control-label" for="id_expiry_year"> </label>
                <input id="id_expiry_year" class="form-control card-expiry-year" placeholder="YYYY" size="4" type="text">
              </div>
              <div class="col-xs-4 form-group cvc required">
                <label class="control-label" for="id_cvc">CVC</label>
                <input id="id_cvc" autocomplete="off" class="form-control card-cvc" placeholder="ex. 311" size="4" type="text">
              </div>
            </div>
            <hr/>
            <div>
              <div>
                <div class="form-row">
                  <div class="col-xs-12 form-group required">
                    <label class="radio-inline">
                      <input type="radio" id="customer_type_personal" name="customer_type" value="ppl" checked>Personal
                    </label>
                    <label class="radio-inline">
                      <input type="radio" id="customer_type_business" name="customer_type" value="biz" role="button" data-toggle="#vat_field">Business
                    </label>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-xs-12 form-group required">
                    <label id="lbl_customer_name" class="control-label" for="id_name">Customer Name</label>
                    <input id="id_name" class="form-control" name="name" type="text" size="40">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-xs-12 form-group required">
                    <label class="control-label" for="id_street_address">Street Address</label>
                    <input id="id_street_address" class="form-control" name="street_address" type="text" size="30">
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-xs-12 form-group required">
                    <label class="control-label" for="id_city">City</label>
                    <input id="id_city" class="form-control" name="city" type="text" size="30">
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-xs-12 form-group required">
                    <label class="control-label" for="id_post_code">Post code</label>
                    <input id="id_post_code" class="form-control" name="post_code" type="text" size="15">
                  </div>
                </div>

                <div class="form-row">
                  <div class="col-xs-12 form-group required">
                    <label class="control-label" for="id_country">Country</label>
                      <select id="id_country" name="country">
                        <option value="" selected>Choose country</option>
                        {% for value, label in form.fields.country.choices %}
                          <option value="{{ value}}"{% if form.fields.country.value == value %} selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                      </select>
                  </div>
                </div>

                <div id="vat_field" class="form-row" style="display: none">
                  <div class="col-xs-12 form-group">
                    <label class="control-label" for="vatnumber">VAT ID</label>
                    <input id="vatnumber" class="form-control" type="text" size="30">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <button class="form-control btn btn-primary submit-button" type="submit">Finish sign up</button>
          </div>
        </form>
      </div>

      <div class="col-md-3">
        <p>All our plans include:</p>
        <ul>
          <li>Unlimited Knownly sub-domains</li>
          <li>Knownly website templates</li>
          <li>Online support</li>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer">
    <div class="container text-center">
      <p class="small">Handmade in Amsterdam. Copyright &copy; Knownly 2015.</p>
    </div>
  </div>
</footer>
{% endblock content %}

{% block js_footer %}
  {{ block.super }}
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    var strWindowFeatures = "menubar=no,location=yes,resizable=yes,scrollbars=yes,status=yes,width=600,height=600";

    $('#btn-auth').prop('disabled', {{ request.user.is_authenticated|lower }});
    if ({{ request.user.is_authenticated|lower }}) {
      $('#begin-auth').hide();
      $('#plan-chooser').show();
    } else {
      $('#begin-auth').show();
      $('#plan-chooser').hide();
    }   

    $('#btn-auth').click(function () {
      mixpanel.track('#btn-auth', "Signup Button Clicked");
      window.open('{% url 'dropbox_auth_start' %}', '_blank', strWindowFeatures);
    });

    // plan buttons
    $(function() {
      var planButtons = $("label.plan-type");
      $(planButtons).on("click", function() {
        planButtons.children('span').text("Choose");
        planButtons.children('input').prop("checked", false);
        $(this).children('span').text("Chosen");
        $(this).children('input[type=radio]').prop("checked", true);
        if ($(this).children('input[type=radio]').attr("value") == 'free') {
          $('#payment-details').hide();
        } else {
          $('#payment-details').show();
        }
      });
    });

    // billing currency buttons
    $(function() {
      var currencyButtons = $("label.currency");
      $(currencyButtons).on("click", function() {
        currencyButtons.children('input').prop("checked", false);
        $(this).children('input[type=radio]').prop("checked", true);
        update_pricing_table();
      });
    });

    // billing period buttons
    $(function() {
      var billingButtons = $("label.period");
      $(billingButtons).on("click", function() {
        billingButtons.children('input').prop("checked", false);
        $(this).children('input[type=radio]').prop("checked", true);
        update_pricing_table();
      });
    });

    function update_pricing_table() {
      currency = $("label.currency").children("input:checked").attr("value");
      period = $("label.period").children("input:checked").attr("value");

      if (currency == 'eur') {
        currency_label = '€';
      } else {
        currency_label = '$';
      }

      if (period == "monthly") {
        lite_plan_price = currency_label + "4.99 per month";
        premium_plan_price = currency_label + "14.99 per month";
        free_plan_price = currency_label + "0.00 per month";
      } else {
        lite_plan_price = currency_label + "49.99 per year";
        premium_plan_price = currency_label + "149.99 per year";
        free_plan_price = currency_label + "0.00 per year";
      }

      $("#premium-plan-price").text(lite_plan_price);
      $("#lite-plan-price").text(lite_plan_price);
      $("#free-plan-price").text(free_plan_price);
      get_selected_plan();
    };

    function get_selected_plan() {
      plan = $("label.plan-type").children("input:checked").attr("value");
      currency = $("label.currency").children("input:checked").attr("value");
      period = $("label.period").children("input:checked").attr("value");

      plan_label = plan + '-' + period + '-' + currency;
      return plan_label;
    }

    // personal vs business customer type button
    $(function() {
      var customerTypeButtons = $("input[name=customer_type]");
      $(customerTypeButtons).on("click", function() {
        if ($("input[id=customer_type_business]").prop("checked")) {
          $('#lbl_customer_name').text('Business Name');
          $('#vat_field').show();
        } else {
          $('#lbl_customer_name').text('Customer Name');
          $('#vat_field').hide();
        }
      });
    });

    // form validation
    $(function() {
      $('form.require-validation').bind('submit', function(e) {
        var $form         = $(e.target).closest('form'),
            inputSelector = ['input[type=email]', 'input[type=password]',
                             'input[type=text]', 'input[type=file]',
                             'textarea'].join(', '),
            $inputs       = $form.find('.required').find(inputSelector),
            $errorMessage = $form.find('div.error'),
            valid         = true;

        $errorMessage.addClass('hide');
        $('.has-error').removeClass('has-error');
        $inputs.each(function(i, el) {
          var $input = $(el);
          if ($input.val() === '') {
            $input.parent().addClass('has-error');
            $errorMessage.removeClass('hide');
            e.preventDefault(); // cancel on first error
          }
        });
      });
    });

    $(function() {
      var $form = $("#paid-form");

      $form.on("submit", function(e) {
        if ($form.find("input[name=knownly_plan]:checked").attr("value") == "free") {
          $form.get(0).submit();
        } else {
          $form.append("<input type='hidden' name='cc_bin' value='" + $('.card-number').val().substring(0, 6) + "'/>");
          e.preventDefault();
          Stripe.setPublishableKey($form.data('stripe-publishable-key'));
          Stripe.createToken({
            number: $('.card-number').val(),
            cvc: $('.card-cvc').val(),
            exp_month: $('.card-expiry-month').val(),
            exp_year: $('.card-expiry-year').val()
          }, stripeResponseHandler);
        }
      });

      function stripeResponseHandler(status, response) {
        if (response.error) {
          $('.error')
            .removeClass('hide')
            .find('.alert')
            .text(response.error.message);
        } else {
          // token contains id, last4, and card type
          var token = response['id'];
          // insert the token into the form so it gets submitted to the server
          $form.find('input[type=text]').empty();
          $form.append("<input type='hidden' name='stripe_token' value='" + token + "'/>");
          $form.get(0).submit();
        }
      }
    });
  </script>
{% endblock %}


{% block mixpanel_footer %}
  {{ block.super }}
  <script type="text/javascript">
    mixpanel.track("Page View", {'template': 'console/signup.html'});
  </script>
{% endblock %}
