@import "bootstrap";
@import "font-awesome";

$grayscale-primary: #8CCDD3 !default;
$grayscale-primary-border: #7ECED5 !default;

$grayscale-primary-dark: #449FA8 !default;
$grayscale-primary-dark-border: #2C9BA6 !default;

$grayscale-dark: #000 !default;
$grayscale-medium: #333 !default;
$grayscale-light: #fff !default;

$grayscale-body-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$grayscale-headline-font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
  font-family: $grayscale-body-font-family;
  color: $grayscale-light;
  background-color: $grayscale-dark;
  background-image: url("/static/img/use_your_illusion.png");
  -webkit-tap-highlight-color: transparentize($grayscale-light, 0.8);
  overflow-y: scroll;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0 0 35px;
  // text-transform: uppercase;
  font-family: $grayscale-headline-font-family;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.5;
}

.text-primary {
	color: $grayscale-primary;
}

.btn {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: $grayscale-primary;
  border-color: $grayscale-primary-border;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus,
	.btn-primary:active, .btn-primary.active,
	.open>.btn-primary.dropdown-toggle {

  color: #fff;
  background-color: $grayscale-primary-dark;
  border-color: $grayscale-primary-dark-border;
}

.twitter-follow-button {
  vertical-align:bottom;
}

footer {
  margin-top: 10px;

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    p {
      margin: 0;
    }
  }
}
