@import "base";
@import "hover";

a {
  color: $grayscale-primary;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($grayscale-primary,0.2);
  }
}

.light {
  font-weight: 400;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid transparentize($grayscale-medium, 0.7);
  font-family: $grayscale-headline-font-family;
  background-color: $grayscale-light;
  color: $grayscale-dark;

  .navbar-brand {
    font-weight: 700;
    padding-top: 7px;
    padding-bottom: 0px;

    &:focus {
      outline: none;
    }

    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  a {
    color: $grayscale-dark;
  }

  ul.nav {

    li {

      &.active {
        outline: none;
        color: $grayscale-primary;
        background-color: transparent;
      }

      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;

        &:hover,
        &:focus {
          outline: none;
          color: $grayscale-primary;
          background-color: transparent;
        }

        &.active {
          outline: none;
          color: $grayscale-primary;
          background-color: transparent;
        }
      }

      span {
        position: relative;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        line-height: 20px;
      }
    }
  }
}

@media(min-width:$screen-xs-max) {

  .navbar {
    padding: 10px 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    letter-spacing: 1px;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: $grayscale-light;
    border-bottom: 1px solid transparentize($grayscale-medium, 0.7);
    color: $grayscale-dark;
    a {
      padding: 0;
      color: $grayscale-dark;
      img {
        margin-top: 0px;
      }
    }
  }

  p {
    margin: 0 0 15px;
    font-size: 16px;
    line-height: 1.6;
    color: $grayscale-dark;
  }

}

.btn {
  font-family: $grayscale-headline-font-family;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  @include button-variant($grayscale-primary, transparentize(white, 1), $grayscale-primary);

  &:hover,
  &:focus {
    border: 1px solid $grayscale-primary-dark-border;
    outline: none;
    color: $grayscale-primary-dark;
    background-color: $grayscale-primary;
  }
}

.content {
	padding: 80px 0;
}

.panel-default {
  border-color: $grayscale-medium;
  background-color: $grayscale-dark;
  color: $grayscale-lightest;

  .panel-heading {
    background-color: $grayscale-medium;
    color: $grayscale-lightest;
    font-size: 18px;
  }

  p {
    color: $grayscale-lightest;
  }
}

.well {
  color: $grayscale-lightest;
  font-weight: 500;
  background-color: $grayscale-dark;

  p {
    color: $grayscale-lightest;
  }
}

@media (min-width: 768px) {
  .well {
    p {
      color: $grayscale-lightest;
    }
  }
}
