{% extends 'base.html' %}
{% load static %}

{% block title %}Domains | Knownly{% endblock %}

{% block css_head %}
 {{ block.super }}
  <!-- simple Domainr API CSS styling, via CDNJS -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/domainr-search-box/0.0.5/domainr-search-box.css" />
    
    <!-- more style tweaks -->
    <style>
      body { text-align: center; }
      body, input { font-family: "helvetica neue", helvetica, sans-serif; font-size: 18px; }
      #example { position: relative; width: 320px; margin: 40px auto; text-align: left; }
      #example input { box-sizing: border-box; width: 100%; border: 1px solid #ccc; border-radius: 2px; padding: 3px 10px; appearance: none; }
      #example input:focus { outline: none; }
      #results { position: relative; width: 100%; }
    </style>
{% endblock %}

{% block content %}
{% include 'partials/navbar.html' %}

  <div id="domains">
    <h1>Domain Search Demo</h1>
    
    <!-- search box input -->
    <input type="text" id="search" name="search" placeholder="search all domains" autocomplete="off" autofocus autocapitalize="off" autocorrect="off">
    
    <!-- search results div, which will be populated -->
    <div id="results"></div>
  </div>

  {% include 'partials/footer.html' %}
  
  <!-- include the Domainr JS, via CDNJS -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/domainr-search-box/0.0.5/domainr-search-box.min.js"></script>

  <!-- configure the search box -->
  <script>
    var client = new domainr.Client({mashapeKey: 'mashape-key', baseURL: '/domains',});
    var searchBox = new domainr.SearchBox({
      mashapeKey: 'mashape-key',
      observe: document.getElementById('search'),
      renderTo: document.getElementById('results'),
      limit: 10, // limit to 10 results
      registrar: 'domainbox.com', // only return a registrar's supported TLDs
      // defaults: [ 'coffee', 'rocks', 'co', 'io' ], // include these TLDs by default
      onSelect: function(result) {
        console.log('Choose: ' + result.domain);
      }
    });
    // Replace default client with our custom client
    searchBox._client = client;

  </script>
{% endblock %}
