{% extends 'base.html' %}
{% load static %}

{% block title %}Knownly{% endblock %}
{% block description %}Knownly{% endblock %}

{% block css_head %}
  {{ block.super }}
  <link href="{% static 'css/landingpages/fullscreen_landing_page.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-public {{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Knownly</h1>
        <p class="lead">Turn a Dropbox folder into a website. Make it known.</p>
        <p class="lead">
          <a id="btn-signup" href="{% url 'dropbox_auth_start' %}" class="btn btn-lg btn-default">Start here</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Handmade in Amsterdam.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block mixpanel_footer %}
  {{ block.super }}
  <script type="text/javascript">
    mixpanel.track("Page View", {'template': 'public.html'});
    mixpanel.track_links('#btn-signup', "Signup Button Clicked", {'position': 'CTA'});
  </script>
{% endblock %}
