{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Support | Knownly</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap_3.1.0/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="wrap">
      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Knownly</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><span>{{ dropbox_user.display_name }}</span></li>
                <li><a href="{% url 'support' %}">Support</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div class="container">
        <h1>Support</h1>
      {% if messages %}        
        <div class="masthead">      
            {% for message in messages %}
                <div class="alert alert-public {{ message.tags }}">{{ message|safe }}</div>
            {% endfor %}
        </div>
      {% endif %}

        <div id="getting-started" class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#getting-started-panel">
                  Getting started
                </a>
              </h4>
            </div>
            <div id="getting-started-panel" class="panel-collapse collapse">
              <div class="panel-body">
                Getting started with Knownly is a piece of cake. In fact, now that you've linked Knownly with your Dropbox account an initial placeholder website has already been created for you.
              </div>
            </div>
          </div>
          <div id="custom-domain-dns" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#custom-domain-dns-panel">
                  Custom Domains - DNS Setup
                </a>
              </h4>
            </div>
            <div id="custom-domain-dns-panel" class="panel-collapse collapse">
              <div class="panel-body">
                <p>At your DNS provider, add the following:</p>
                <div class="container">
                  <p class="well col-md-6">
                    www 1800 IN CNAME to.knownly.net.
                  </p>
                </div>
                <p>Additionally, you may wish to redirect the 'naked' domain (e.g. 'knownly.net') to ('www.knownly.net') in order to have all visitors arrive at your website:</p>
                <div class="container">
                  <p class="well col-md-6">
                    @ 1800 IN A 174.129.25.170</br>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div id="removing-website-folders" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#removing-website-folders-panel">
                  Removing website folders
                </a>
              </h4>
            </div>
            <div id="removing-website-folders-panel" class="panel-collapse collapse">
              <div class="panel-body">
                When you remove a Dropbox website using the Knownly website, we stop hosting the website but we don't remove the associated dropbox folder. This way there's no chance we'd remove any files you might want to keep. That said, as soon as you no longer need Knownly folder you can go ahead and delete it. As you wish.
              </div>
            </div>
          </div>
          <div id="knownly-dropbox-access" class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#knownly-dropbox-access">
                  Can Knownly access all my dropbox files?
                </a>
              </h4>
            </div>
            <div id="knownly-dropbox-access-panel" class="panel-collapse collapse">
              <div class="panel-body">
                <p>Knownly integrates with Dropbox as an "app" which means we only have access to our app directory ('/Apps/Knownly.net/...').</p>
                <p>
                  Dropbox allows us only to access files within that folder and we're quite happy with that. In fact we really don't want to be messing with your files at all, so aside from creating new folders and placeholder websites when you ask us to, we'll never add anything to your dropbox. We'll never change or delete any files either.
                </p>
              </div>
            </div>
          </div>          
        </div>
      </div> <!-- /container -->
    </div> <!-- /wrap -->

    <div id="footer">
      <div class="container">
        <p>Handmade in Amsterdam by <a href="https://twitter.com/dwightgunning">@dwightgunning</a>.</p>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'vendor/bootstrap_3.1.0/js/bootstrap.js' %}"></script>
    <script>
        $(document).ready(function() {
          var anchor = window.location.hash.replace("#", "");
          // $(".collapse").collapse('hide');
          console.log(anchor + '-panel');
          $("#" + anchor + '-panel').collapse('show');
      });
    </script>
  </body>
</html>
