<h2>My websites</h2>
<ul id="website_list" class="list-group">
  <li data-domain="{{ website.domain }}" class="list-group-item" ng-repeat="website in viewModel.dropboxSiteList">
    {{ website.domain }}
    <span class="badge website-link-badge" title="Visit {{ website.domain }}">
      <a class="visit_website_link" href="http://{{ website.domain }}" target="_blank">
        <span class="glyphicon glyphicon-share-alt"></span>
      </a>
    </span>
    <span class="badge website-link-badge" title="Remove {{ website.domain }}">
      <a class="remove_website_link" ng-click="viewModel.openDeleteDropboxSiteModal(website.domain)">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </a>
    </span>
  </li>
</ul>
