{% load static %}
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="/">
        <img class="brand-logo-dark" src="{% static 'img/brand/Knownly_Logo_Web_Simple_140_x_40.png' %}" />
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a> <!-- removes .active on first li when scrolling -->
        </li>
        {% if request.user.is_authenticated %}
          <li>
          {% if request.user.first_name or request.user.last_name %}
            <span><a href="/account/">{{ request.user.first_name }} {{ request.user.last_name }}</a></span>
          {% elif request.user.email %}
            <span><a href="/account/">{{ request.user.email }}</a></span>
          {% else %}
            <span><a href="/account/">Account</a></span>
          {% endif %}
          </li>
        {% endif %}
        {% if not request.user.is_authenticated %}
          <li>
            <a class="page-scroll" href="#how-it-works">How it works</a>
          </li>
          <li>
            <a class="page-scroll" href="#pricing">Pricing</a>
          </li>
        {% endif %}
        <li>
          <a id='support-link' href="{% url 'support' %}" {% if active == "support" %}class="active"{% endif %}>Support</a>
        </li>
        {% if request.user.is_authenticated %}
          <li>
            <a id='logout-link' href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li>
            <a id="btn-login" href="#">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
