<div class="table-responsive">
  <table class="table">
    <thead>
      <th>Features</th>
      <th>Free</th>
      <th>Lite</th>
      <th>Premium</th>
    </thead>
    <tbody>
      <tr>
        <td class="text-left">Knownly sub-domains:</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td class="text-left">Custom domains:</td>
        <td>0</td>
        <td>3</td>
        <td>15</td>
      </tr>
      <tr>
        <td class="text-left">Page views (monthly):</td>
        <td>10 Thousand</td>
        <td>1 Million</td>
        <td>50 Million</td>
      </tr>
      <tr>
        <td class="text-left">Data transfer (monthly):</td>
        <td>1G</td>
        <td>10G</td>
        <td>100G</td>
      </tr>
      <tr>
        <td class="text-left">Price:</td>
        <td>Free</td>
        <td>$4.99 per month</td>
        <td>$14.99 per month</td>
      </tr>
    </tbody>
  </table>
</div>