{% extends 'base.html' %}
{% load static %}

{% block title %}Knownly{% endblock %}

{% block css_head %}
  <link href="{% static 'css/landingpages/landing_page.css' %}" rel="stylesheet">
{% endblock %}

{% block body_attrs %}id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"{% endblock %}

{% block content %}
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <span class="light">Knownly</span>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a> <!-- removes .active on first li when scrolling -->
        </li>
        <li>
          <a class="page-scroll" href="#how-it-works">How it works</a>
        </li>
        <li>
          <a class="page-scroll" href="#pricing">Pricing</a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="{% url 'signup' %}">Signup</a>
        </li>
        <li>
          <a class="page-scroll" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

  <!-- Intro Header -->
  <header class="intro">
    <div class="intro-body">
        <div class="container">
          <div class="row">
              <div class="col-md-8">
                <img class="img-responsive img-rounded" src="{% block hero_img_src %}{% endblock %}" alt="{% block hero_img_alt %}{% endblock %}">
              </div>
              <div class="col-md-4">
                  <h1>{% block tagline %}{% endblock %}</h1>
                  <div class="lead-info">{% block lead_info %}{% endblock %}</div>
                  <a id="primary-cta" class="btn btn-primary btn-lg page-scroll" href="{% url 'signup' %}">{% block primary_cta_btn %}{% endblock %}</a>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-lg-12">
                  <div class="well text-center">
                      <span class="lead">{% block cta_well %}{% endblock %}</span>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <h2>{% block uvp_1_heading %}{% endblock %}</h2>
                  <p>{% block uvp_1_para %}{% endblock %}</p>
              </div>
              <div class="col-md-4">
                  <h2>{% block uvp_2_heading %}{% endblock %}</h2>
                  <p>{% block uvp_2_para %}{% endblock %}</p>
              </div>
              <div class="col-md-4">
                  <h2>{% block uvp_3_heading %}{% endblock %}</h2>
                  <p>{% block uvp_3_para %}{% endblock %}</p>
              </div>
          </div>
      </div>
    </div>
  </header>

<section id="how-it-works" class="content-section text-center">
  {% include "landingpages/partials/how-it-works.html" %}
</section>

<section id="pricing" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Pricing</h2>
        {% include "billing/partials/pricing.html" %}
      </div>
    </div>
  </div>
</section>

<section id="start-now" class="container content-section text-center">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      {% block start_now %}{% endblock %}
    </div>
  </div>
</section>

<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About the site</h2>
      <img class="img img-circle img-about" src="{% static 'img/dwight_amsterdam_tcr_square.png' %}">
      <div>
        <p>Hi, my name is Dwight and Knownly is my little creation.</p>
        <p>I first had the idea to host websites straight from Dropbox a while back in January 2014. I was reading through the Dropbox API docs for a project and the light bulb went on...</p>
        <p>It turned out to be a great way to quickly put landing pages online for new ideas. I've done away with all the Wordpress blogs I'd been roped in to managing over the years. After sharing Knownly with a few friends I learned it's also useful to other creatives, designers and developers (plus people wanting to learn these skills). The best part is we don't need to worry about web hosting and control panels anymore.</p>
        <p>So it's time to launch properly - to make it known. As I said, I hope it's useful to you and I love to hear feedback :)</p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="mailto:info@knownly.net" class="btn btn-default btn-lg"><i class="fa fa-send-o fa-fw"></i> <span class="network-name">Email</span></a>
          </li>
          <li>
            <a href="https://twitter.com/knownly_net" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="https://facebook.com/knownly" class="btn btn-default btn-lg"><i class="fa fa-facebook-official fa-fw"></i> <span class="network-name">Facebook</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer">
    <div class="container text-center">
      <p class="small">Handmade in Amsterdam. Copyright &copy; Knownly 2015.</p>
    </div>
  </div>
</footer>
{% endblock %}
