{% extends 'landingpages/base.html' %}
{% load static %}

{% block tagline %}Knownly{% endblock %}

{% block lead_info %}
  <p>Host websites direct from Dropbox.</p>  
  <p>10 websites at custom domains for only $3.99 per month after a free 14 day trial.</p>
  <p>Knownly sub-domains: forever free.</p>
{% endblock %}

{% block primary_cta_btn %}Get started{% endblock %}

{% block cta_well %}{% endblock %}

{% block uvp_1_heading %}{% endblock %}
{% block uvp_1_para %}{% endblock %}

{% block uvp_2_heading %}{% endblock %}
{% block uvp_2_para %}{% endblock %}

{% block uvp_3_heading %}{% endblock %}
{% block uvp_3_para %}{% endblock %}

{% block mixpanel_footer %}
  {{ block.super }}
  <script type="text/javascript">
    mixpanel.track("Page View", {'template': 'landing_pages/creatives.html'});
  </script>
{% endblock %}
