{% extends 'landingpages/base.html' %}
{% load static %}

{% block tagline %}Publish <strong>custom websites</strong> straight from your <strong>Dropbox</strong>{% endblock %}

{% block how-it-works-cta %}Keep full control your web design with pure HTML5/CSS3{% endblock %}

{% block how-it-works-content %}
  <ul>
    <li>Host multiple websites from one Dropbox account</li>
    <li>Websites at Knownly sub-domains are free forever</li>
    <li>Up to 3 websites on custom domains for $4.99 / month</li>
  </ul>
{% endblock %}

{% block primary_cta_btn %}Get started{% endblock %}

{% block mixpanel_footer %}
  {{ block.super }}
  <script type="text/javascript">
    mixpanel.track("Page View", {'template': 'landing_pages/creatives.html'});
  </script>
{% endblock %}
