{% extends 'landingpages/base.html' %}
{% load static %}

{% block tagline %}Knownly{% endblock %}

{% block hero_img_src %}{% static 'img/designers_hero.jpg' %}{% endblock %}
{% block hero_img_alt %}{% endblock %}

{% block lead_info %}
  <p>Publish websites straight from Dropbox.</p>  
  <p>Three custom domains (e.g. <em>yourname.com</em>) for $4.99 per month after a two week trial.</p>
  <p>Knownly sub-domains are forever free.</p>
{% endblock %}

{% block primary_cta_btn %}Get started{% endblock %}

{% block cta_well %}The perfect place to host your portfolio and the simplest way to share drafts and deliverables.{% endblock %}

{% block start_now %}<a class="btn btn-primary" href="{% url 'signup' %}">Start now</a>{% endblock %}

{% block uvp_1_heading %}Full control over<br /> your website design{% endblock %}
{% block uvp_1_para %}Craft websites with freedom using HTML/CSS to be as simple or intricate as you desire. No complicated online editors and bland designs that never look right.{% endblock %}

{% block uvp_2_heading %}Share documents<br /> with ease{% endblock %}
{% block uvp_2_para %}With your website in your Dropbox, sharing documents is just a drag-and-drop away. No size restrictions, no time limits and definitely no advertising.{% endblock %}

{% block uvp_3_heading %}No web hosts<br /> and FTP{% endblock %}
{% block uvp_3_para %}Servers and hosting are banished for ever. Minor edits, new examples, or major updates are live in just a matter of seconds.{% endblock %}

{% block mixpanel_footer %}
  {{ block.super }}
  <script type="text/javascript">
    mixpanel.track("Page View", {'template': 'landing_pages/designers.html'});
  </script>
{% endblock %}
