{% extends 'landingpages/base.html' %}
{% load static %}

{% block tagline %}Practice web design and publish your site <strong>without any servers</strong>{% endblock %}

{% block how-it-works-cta %}The quickest way to share what you have learned{% endblock %}

{% block how-it-works-content %}
  <ul>
    <li>Host multiple websites from one Dropbox account</li>
    <li>Websites at Knownly sub-domains are free forever</li>
    <li>Up to 3 websites on custom domains for $4.99 / month</li>
  </ul>
{% endblock %}

{% block primary_cta_btn %}Get started{% endblock %}

{% block mixpanel_footer %}
  {{ block.super }}
  <script type="text/javascript">
    mixpanel.track("Page View", {'template': 'landing_pages/learning-to-code.html'});
  </script>
{% endblock %}
