{% extends 'landingpages/base.html' %}
{% load static %}

{% block tagline %}Knownly{% endblock %}

{% block hero_img_src %}{% static 'img/designers_hero.jpg' %}{% endblock %}
{% block hero_img_alt %}{% endblock %}

{% block lead_info %}
  <p>Build and launch your landing page from a Dropbox folder.</p>
  <p>3x custom-domain sites for $4.99/month.</p>
  <p>ALL Startup Weekend participants get their first three months free.</p>
  <p>Knownly sub-domains are forever free.</p>
{% endblock %}

{% block primary_cta_btn %}Try for free{% endblock %}

{% block cta_well %}The quickest way to a landing page that shows off your UVPs and registers news users{% endblock %}

{% block start_now %}<a class="btn btn-primary" href="{% url 'signup' %}">Start now</a>{% endblock %}

{% block mixpanel_footer %}
  {{ block.super }}
  <script type="text/javascript">
    mixpanel.track("Page View", {'template': 'landing_pages/startupweekend.html'});
  </script>
{% endblock %}
