{% extends 'landingpages/base2.html' %}
{% load static %}

{% block tagline %}Turn a <strong>Dropbox</strong> folder into a <strong>website</strong>. Make your idea Known.{% endblock %}

{% block how-it-works-cta %}The quick and simple way to validate your idea and iterate your MVP{% endblock %}

{% block how-it-works-content %}
  <ul>
	<li>Launch multiple websites from one Dropbox account</li>
    <li>ALL Startup Weekend participants get three months free</li>
    <li>Only $4.99 for 3 custom domains.</li>
  </ul>
{% endblock %}

{% block primary_cta_btn %}Get started{% endblock %}

{% block mixpanel_footer %}
  {{ block.super }}
  <script type="text/javascript">
    mixpanel.track("Page View", {'template': 'landing_pages/creatives.html'});
  </script>
{% endblock %}
